.article {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    display: none;
    animation: article-show 1s ease-in;
}

.article img {
    width: 100%;
    height: 20rem;
    margin: 0 auto;
    animation: show-image 1s ease-in 0.55s;
}

.article-data {
    display: none;
    animation: fade-in 0.51s ease-in 2s;
}

.article h2 {
    font-size: 1.7rem;
    line-height: 1.4;
    letter-spacing: 1.25px;
}

.article span {
    display: block;
    font-size: 1.4rem;
    margin: 1rem 0;
}

.article p {
    margin: 2rem;
    line-height: 1.4;
    font-size: 1.6rem;
}

.article a {
    font-size: 1.5rem;
}

.close-fullNews {
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    background: none;
    border: none;
    font-size: 1.75rem;
    color: rgb(250, 246, 246);
    cursor: pointer;
}

@media (min-width: 660px) {
    .article img {
        width: 60%;
        display: block;
        height: 30rem;
    }
}

@keyframes article-show {
    0% {
        height: 0;
        opacity: 0;
        top: 50%;
    }
    
    100% {
        height: 100vh;
        opacity: 1;
        top: 0;
    }
}

@keyframes show-image {
    0% {
        height: 0;
    }

    100% {
        height: 20rem;
    }
} 

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} 