.main-header {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(2,2,2,0.25);
}

.logo a {
  color: rgba(2,2,2,0.85);
  transition: color 0.4s ease-in;
}

.logo a:hover {
  color: royalblue;
}