html {
  box-sizing: border-box;
  font-size: 10px;
}

*,*::after,*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

h1, p {
  font-family: Lato;
}

a {
  text-decoration: none;
}
