.top-news {
    display: none;
    padding: 1rem;
    background: rgba(7, 7, 7, 0.521);
    margin: 0 auto;
}

.top-news h2 {
    height: 25%;
}

@media(min-width: 660px) {
    .top-news {
        width: 40%;
        display: block;
        margin: 0;
    }
}